*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin:0;
	padding:0;
	list-style:none;
	text-decoration:none;
}
body{
	font-family:Times New Roman, Helvetica, sans-serif;
	font-size:20px;
	font-weight:normal;
	font: normal 20px Times New Roman, Helvetica, sans-serif; 
	line-height:1.6em;
	background-image: url("Background/white-background.jpg");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size:cover;
}
#main-header{
	text-align:center;
	font-size:30px;
	color:white;
	height:80px;
	background-image: url("Background/ff82e720aeb98a8e3b84ea44133c5197.jpg"); 
}
#main-header h4{
	margin-bottom: 10px;
}
.box-3 {
	width:100%;
	overflow:hidden;
	list-style:none;
	height:60%;
}
.box-4 {
	width:100%;
	overflow:hidden;
	list-style:none;
	height:70%;
}
#navbar{
	text-align:right;
	width:100%;
	background-image:url("Background/1186693847_preview_blackness.jpg");
}
#navbar li{
	display:inline-block;
}
#navbar a{
	color:white;
	text-decoration: none;
	font-size:18px;
	padding: 30px 20px;
}
#navbar a:hover{
	color:black;
    background:	#ff00ff;   
}
.box10 img{
	box-shadow: 1px 5px 10px 5px black;
}
.box10 td{
	padding: 100px 100px;
	padding-bottom:100px;
	color:black;
	font-size:25px;
	}
.box10 th{
	font-size:20px;
	color:black;
}
.box10 ul li{
	color:white;
}
.box10{
	width:100%;
	margin:auto;
}
.videowrapper{
	width:100%;
	height:0;
	padding-bottom:36.25%;
	position:relative;
	padding-left:0%;
}
.videowrapper iframe{
	position:absolute;
	width:100%;
	height:100%;
}
.footer-social-icons{
	width:100%;
	height:auto;
	margin:auto;
}
.footer-social-icons ul{
	margin:0px;
	padding:0px;
	text-align:center;
}
.footer-social-icons ul li{
	display: inline-block;
	margin-right: 2px;
	width:36px;
	height:36px;
	text-align:center;
}
.footer-social-icons ul li a{
	color: #fff;
	display:block;
	font-size: 22px;
	text-shadow: 0px 0px 5px rgba(0,0,0,0.75);
}
.footer-social-icons ul li a i{
	line-height: 36px;
}
.footer-social-icons ul li:nth-child(1){
	background: #3b5998;
}
.footer-social-icons ul li:nth-child(2){
	background: #1da1f2;
}
.footer-social-icons ul li:nth-child(3){
	background: #25d366;
}
.footer-social-icons ul li:nth-child(4){
	background: #c32aa3;
}
.footer-social-icons ul li:nth-child(5){
	background: #ff0000;
}
.footer-social-icons ul li:nth-child(6){
	background: #007bb5;
}
.footer-social-icons ul li:nth-child(7){
	background: #00aff0;
}
.footer-mid-part{
	width: 100%;
	height: auto;
	margin: auto;
	padding-top: 50px;
}
.footer-section-one{
	width: 100%;
	height: auto;
	margin: auto;
	padding: 20px 20px;
	background: rgba(255,255,255,.1);
}
.footer-section-two{
	width: 100%;
	height: auto;
	margin: auto;
	padding: 20px 20px;
	background: rgba(255,255,255,.1);
}
.footer-section-three{
	width: 100%;
	height: auto;
	margin: auto;
	padding: 20px 20px;
	background: rgba(255,255,255,.1);
}
.footer-section-four{
	width: 100%;
	height: auto;
	margin: auto;
	padding: 20px 20px;
	background: rgba(255,255,255,.1);
}
.footer-heading{
	width:100%;
	height:auto;
	margin:auto;
}
.footer-heading h2{
	font-size: 18px;
	text-align: left;
	color:#fff;
	text-transform: uppercase;
	margin: 0px;
}
.footer-contact-box{
	width: 100%;
	height: auto;
	margin:auto;
	margin-top: 13px;
}
.footer-contact-icon{
	width:25px;
	height:25px;
	float: left;
}
.footer-contact-icon i{
	color:#fff;
	font-size:20px;
}
.footer-contact-text{
	width:85%;
	height:auto;
	float:left;
	margin-left: 10px;
}
.footer-contact-text p{
	font-size: 14px;
	text-align:left;
	color: #fff;
}
.footer-contact-text p a{
	font-size: 14px;
	text-align:left;
	color: #fff;
	text-decoration: none;
	cursor:pointer;
}
.footer-contact-text p:hover{
	color:#f00;
}
.footer-contact-text p a{
	color:#fff;
}
.footer-contact-box:hover .footer-contact-icon i{
	color:#f00;
}
.footer-contact-box .footer-contact-text p a{
	color:#fff;
}

.footer-form{
	width:100%;
	height:auto;
	margin:auto;
	margin-top:20px;
}
.footer-form-box{
	width:100%;
	height:auto;
	margin:auto;
	margin-top:20px;
}
.footer-form-box textarea{
	height:200%;
}
.footer-form-style{
	width:100%;
	height:40px;
	border-left:none;
	border-top:none;
	border-right:none;
	border-bottom:1px solid rgba(255,255,255,.1);
	background:transparent;
	font-size: 14px;
	text-align: left;
	padding: 0px 10px;
	color:#fff;
}
.footer-form-submit-style{
	width:129px;
	height:35px;
	font-size:16px;
	text-align:center;
	color:#fff;
	text-transform: uppercase;
	background:rgba(255,255,255,.5);
	border:none;
	margin-top: 1px;
}
.box-0{
	background-image:url("Background/1.jpg");
	height:50%;
	box-sizing:border-box;
	border:1px solid #ccc;
	padding:10px;
	text-align: center;
}
.box-0 p{
	color:white;
}